<a href="https://colab.research.google.com/github/Priti1694/CodingWomen/blob/master/Task_3_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [80]:
#loading a data

url="https://raw.githubusercontent.com/Priti1694/CodingWomen/master/Iris.csv"
df=pd.read_csv(url)

In [ ]:
df.head(5)

In [84]:
df=df.drop(['Id'], axis='columns')
print(len(df))
df.head(5)

150

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [51]:
from sklearn.preprocessing import LabelEncoder
le_Species=LabelEncoder()

In [ ]:
# df['Species_n'] = le_Species.fit_transform(df['Species'])
# df = df.drop(['Species'], axis='columns')
# df.head(5)

In [64]:
df['Species_n'].value_counts()

2    50
1    50
0    50
Name: Species_n, dtype: int64

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [85]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [86]:
X= df.iloc[:,0:4]
X= scaler.fit_transform(X) 
X[0:4]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673]])

In [90]:
#Data Split in training and testing 
X_train,X_test,  Y_train , Y_test = train_test_split(X,Y, random_state = 1, test_size = 0.3)
Y_test.shape

(45,)

In [91]:
# Define the Model  KNN
knnmodel = KNeighborsClassifier(n_neighbors=3)

In [92]:
knnmodel.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [98]:
y_predict1=knnmodel.predict(X_test)

In [100]:
acc=accuracy_score(Y_test,y_predict1)
acc

0.9777777777777777

In [102]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test.values,y_predict1)
cm

array([[14,  0,  0],
       [ 0, 18,  0],
       [ 0,  1, 12]])

In [103]:
cm1=pd.DataFrame(data=cm,index=['setosa','versicolor','virginica'],columns=['setosa','versicolor','virginica'])
cm1

            setosa  versicolor  virginica
setosa          14           0          0
versicolor       0          18          0
virginica        0           1         12

In [105]:
prediction_output=pd.DataFrame(data=[Y_test.values,y_predict1],index=['Y_test','y_predict1'])

In [ ]:
prediction_output.transpose()

In [107]:
Ks=50
mean_acc=np.zeros((Ks-1))


#train and predict
for n in range(1,Ks):
    neigh=KNeighborsClassifier(n_neighbors=n).fit(X_train,Y_train)
    yhat=neigh.predict(X_test)
    mean_acc[n-1]=accuracy_score(Y_test,yhat)

In [108]:
print(mean_acc)

[0.93333333 0.93333333 0.95555556 0.97777778 0.95555556 0.97777778
 0.97777778 0.97777778 0.95555556 0.95555556 0.95555556 0.95555556
 0.93333333 0.95555556 0.95555556 0.95555556 0.95555556 0.95555556
 0.95555556 0.95555556 0.95555556 0.95555556 0.95555556 0.95555556
 0.93333333 0.93333333 0.93333333 0.93333333 0.93333333 0.93333333
 0.93333333 0.93333333 0.93333333 0.93333333 0.93333333 0.91111111
 0.88888889 0.88888889 0.88888889 0.88888889 0.88888889 0.88888889
 0.86666667 0.86666667 0.86666667 0.86666667 0.84444444 0.86666667
 0.8       ]

In [ ]:
plt.plot(range(1,Ks),mean_acc,'b')
plt.legend(('Accuracy '))
plt.ylabel('Accuracy ')
plt.xlabel('Number of Neighbors (K)')
plt.tight_layout()
plt.show()

In [113]:
# Visualising the clusters - On the first two columns
plt.scatter(X[y_predict1 == 0, 0], x[y_predict1 == 0, 1], 
            s = 100, c = 'red', label = 'Iris-setosa')
plt.scatter(x[y_predict1 == 1, 0], x[y_predict1 == 1, 1], 
            s = 100, c = 'blue', label = 'Iris-versicolour')
plt.scatter(x[y_predict1 == 2, 0], x[y_predict1 == 2, 1],
            s = 100, c = 'green', label = 'Iris-virginica')

# Plotting the centroids of the clusters
plt.scatter(knnmodel.cluster_centers_[:, 0], knnmodel.cluster_centers_[:,1], 
            s = 100, c = 'yellow', label = 'Centroids')

plt.legend()

IndexError: ignored